.message, .success, .error, .warning {
  border: 1px solid #cccccc;
  padding: 10px;
  color: #333333; }

.success {
  border-color: green; }

.error {
  border-color: red; }

.warning {
  border-color: yellow; }
