<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.95.4924.12392" targetFramework="net45" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net45" />
  <package id="VsixCompress" version="1.0.0.6" targetFramework="net45" />
  <package id="WebMarkupMin.Core" version="0.8.7" targetFramework="net45" />
</packages>