<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.7.5124.21499" targetFramework="net451" />
  <package id="ConfOxide" version="1.3.0.0" targetFramework="net451" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="WebMarkupMin.Core" version="0.8.13" targetFramework="net45" />
</packages>