<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.9.5229.26438" targetFramework="net451" />
  <package id="ConfOxide" version="1.4.0.0" targetFramework="net451" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="TransientFaultHandling.Core" version="5.1.1209.1" targetFramework="net451" />
  <package id="WebMarkupMin.Core" version="0.8.20" targetFramework="net451" />
</packages>