body {
    width: 300px;
    font: .94em Arial;
}

ul {
    list-style: none;
    padding: 0;
}

    ul li {
        margin-top: 10px;
    }

h2 {
    margin: 0;
    font-size: 1.1em;
}

p {
    margin: 0 0 5px 0;
}
